{% extends 'admins/adminbase.html' %}
{% block contents %}

<style>
    body{
    background: linear-gradient(45deg,rgb(242, 200, 227),rgb(222, 115, 244));
    background-size:cover;
    height:100vh;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #fff;
    
    text-align: center;
    padding: 20px;
    }
        
</style>

<div class="content"><br><br>
    <h2 class="text-center">Admin Homepage</h2>
     
    <div class="body">
        <img src="https://img.freepik.com/free-vector/cute-koala-sleeping-tree-cartoon-animal-nature-icon-concept-isolated-flat-cartoon-style_138676-2366.jpg?ga=GA1.1.458144309.1738558559&semt=ais_hybrid" alt="" style="margin-left: 30px;">
    </div>
</div>
{% endblock %}

